Source: karma
Section: devel
Priority: extra
Maintainer: Filippo Giunchedi <fgiunchedi@wikimedia.org>
Build-Depends: debhelper (>= 10),
               dh-systemd,
               git,
               go-bindata,
               psmisc,
               golang-github-deanthompson-ginpprof-dev,
               golang-github-elazarl-go-bindata-assetfs-dev,
               golang-github-gin-contrib-cors-dev,
               golang-github-gin-contrib-gzip-dev,
               golang-github-gin-contrib-static-dev,
               golang-github-gin-gonic-gin-dev,
               golang-github-patrickmn-go-cache-dev,
               golang-github-prometheus-client-golang-dev,
               golang-github-sirupsen-logrus-dev,
               golang-github-spf13-pflag-dev,
               golang-go,
               golang-vbom-util-dev,
               npm,
Standards-Version: 3.9.7
Homepage: https://github.com/prymitive/karma

Package: karma
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Alert dashboard for Prometheus Alertmanager.
