Source: karma
Section: devel
Priority: extra
Maintainer: Filippo Giunchedi <fgiunchedi@wikimedia.org>
Build-Depends: debhelper (>= 10),
               dh-systemd,
               git,
               psmisc,
               golang-1.16,
               npm,
Standards-Version: 3.9.7
Homepage: https://github.com/prymitive/karma

Package: karma
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Alert dashboard for Prometheus Alertmanager.
